button
  display: block
  height: 38px
  padding: 0 30px
  color: #555
  text-align: center
  font-size: 11px
  font-weight: 600
  line-height: 38px
  letter-spacing: .1rem
  text-transform: uppercase
  text-decoration: none
  white-space: nowrap
  background-color: transparent
  border-radius: 4px
  border: 1px solid #bbb
  cursor: pointer
  box-sizing: border-box
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4)
  //@include transition(all 1s $ease-out-expo)

  &:hover
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2)
    transform: translate(0, -10px)


.weather_data

  .download
    order: 3
    flex-grow: 1
    display: inline-block
    position: absolute
    top: 10px
    right: 20px
    .download_btn
      text-decoration: none
      padding: 0
      margin: 0
      border: none
      background-color: transparent
      background-image: url("/assets/img/icons/SVG/cloud-download.svg")
      background-position: center, center
      background-repeat: no-repeat, repeat-x
      background-size: 100%
      +size(32px)
      &:hover
        content: "Download Data"
        cursor: pointer
