nav
  background-color: #d7d7d8
  width: 100vw
  display: block
  height: 75px
  ul
    display: flex
    +outer-container()
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    align-content: center
    align-items: center
    height: 75px

    li
      display: block
      font-size: 25px
      a
        color: white


.collection_wrapper
  display: none

  &#active
    display: block

.filter
  margin: 0
  padding: 15px 0
  background-color: #eeeeee
  display: flex
  justify-content: center
