@include media($tablet)

  header
    font-size: 10px


  #weather_wrapper
    +outer-container()
    display: flex
    flex-wrap: wrap
    margin-top: -2em

    .weather_data
      +span-columns(8)
      +shift(0.25)




      .factor_graph


      .current_factor




        .factor_meaning


          h3


          .factor_name
            bottom: 0
            margin-bottom: 10px


          .factor_measure
            background-color: none




        p


        .download


